@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --main-text-color: #ffffff;
  --second-text-color: #939393;
  --title-color: #dc56c5;
  --modal-background-color: #fff2fd;
  --modal-text-color: #0e0e0e;
  --modal-accent-color: #4c00fe;
  --modal-overlay: rgba(32, 13, 29, 0.6);
  --modal-hover-color: #2e009a;
  --font: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #0e0e0e;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 767px) {
  body {
    background-position: left 0 top 364px;
    background-image: url(../images/mobile/bg_body-mobile.png);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  body .body {
    background-image: url(../images/mobile/bg_body-mobile@2x.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  body {
    background-position: left 0 top 364px, center;
    background-image: url(../images/tablet/bg_body-tablet.png), url(../images/tablet/decor-tablet.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  body .body {
    background-image: url(../images/tablet/bg_body-tablet@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  body {
    background-position: center, center;
    background-size: cover, 1280px;
    background-image: url(../images/desktop/bg_body-desktop.png), url(../images/desktop/decor-desktop.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  body .body {
    background-image: url(../images/desktop/bg_body-desktop@2x.png);
  }
}

.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 479px) {
  .container {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* .background__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
} */
@media screen and (max-width: 767.98px) {
  .background__image--header {
    max-height: 461px;
  }
}

@media screen and (min-width: 768px) {
  .background__image--header {
    max-height: 622px;
  }
}

@media screen and (min-width: 1280px) {
  .background__image--header {
    max-height: 1035.52px;
  }
}

.background__header {
  position: absolute;
  z-index: -10;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  /*  min-width: 100%;
  max-width: 1280px; */
}

.background__body {
  position: absolute;
  z-index: -20;
  left: 0;
  top: 300px;
  width: 100%;
  background-repeat: repeat;
}

.logo {
  position: absolute;
  width: 106px;
  height: 90px;
  left: 3px;
  top: 3px;
  -webkit-animation: logo 2s infinite;
          animation: logo 2s infinite;
}

@media (min-width: 768px) {
  .logo {
    width: 179px;
    height: 151px;
  }
}

@media (min-width: 1280px) {
  .logo {
    width: 239px;
    height: 201px;
  }
}

.logo:hover {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes logo {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes logo {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.logo__background {
  position: absolute;
  width: 213.97px;
  height: 180px;
  left: -107.49px;
  top: -90px;
  background-image: linear-gradient(136.07deg, rgba(196, 196, 196, 0.03) 10.75%, rgba(196, 196, 196, 0) 92.33%);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 90%;
}

@media (min-width: 768px) {
  .logo__background {
    width: 359px;
    height: 302px;
    left: -180px;
    top: -151px;
  }
}

@media (min-width: 1280px) {
  .logo__background {
    width: 477px;
    height: 402px;
    left: -238px;
    top: -201px;
  }
}

.header__title {
  margin-top: 78px;
  margin-bottom: 25px;
  text-align: center;
}

@media (min-width: 768px) {
  .header__title {
    margin-top: 40px;
    margin-bottom: 27px;
  }
}

@media (min-width: 1280px) {
  .header__title {
    margin-top: 40px;
    margin-bottom: 52px;
  }
}

.header__title--decor {
  max-width: 215px;
  margin-right: auto;
  margin-left: auto;
  color: var(--title-color);
  font-family: var(--font);
  font-weight: 900;
  font-size: 18px;
  line-height: 1.22;
}

@media (min-width: 768px) {
  .header__title--decor {
    max-width: 355px;
    margin-top: 40px;
    font-size: 30px;
  }
}

@media (min-width: 1280px) {
  .header__title--decor {
    max-width: 590px;
    font-size: 50px;
  }
}

.form {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 130px;
}

@media (max-width: 479px) {
  .form-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 480px) {
  .form-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) {
  .form-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.search-btn {
  cursor: pointer;
  position: absolute;
  padding: 10px;
  top: 5%;
  left: 80%;
  width: 34px;
  height: 34px;
  background-color: transparent;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .search-btn {
    top: 5%;
    left: 73%;
  }
}

.form__input {
  width: 270px;
  height: 40px;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--second-text-color);
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 20px;
  outline: none;
  border: none;
}

@media (max-width: 479px) {
  .form__input:first-child {
    margin-bottom: 25px;
  }
}

@media (min-width: 480px) {
  .form__input:first-child {
    margin-bottom: 25px;
  }
}

@media (min-width: 768px) {
  .form__input:first-child {
    margin-right: 30px;
  }
}

.input-wrapper {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 30%;
  left: 30%;
  fill: #939393;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

@media (min-width: 768px) {
  .form__icon {
    top: 35%;
    left: 30%;
  }
}

.all-countries {
  background-color: aquamarine;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
}

.music__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.events__list--cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .events__list--cards {
    margin-top: -45px;
    margin-left: -27px;
  }
}

@media (min-width: 1280px) {
  .events__list--cards {
    margin-top: -50px;
    margin-left: -70px;
  }
}

.events__item {
  text-align: center;
  margin-top: 30px;
  margin-left: 15px;
  -ms-flex-preferred-size: calc((50% - 15px));
      flex-basis: calc((50% - 15px));
  -webkit-animation: zoom 1.5s 1;
          animation: zoom 1.5s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  height: 100%;
  cursor: pointer;
}

@media (min-width: 768px) {
  .events__item {
    margin-top: 45px;
    margin-left: 27px;
    -ms-flex-preferred-size: calc((100% - 3 * 45px) / 3);
        flex-basis: calc((100% - 3 * 45px) / 3);
  }
}

@media (min-width: 1280px) {
  .events__item {
    margin-top: 50px;
    margin-left: 70px;
    -ms-flex-preferred-size: calc((100% - 4 * 70px) / 4);
        flex-basis: calc((100% - 4 * 70px) / 4);
  }
}

.events__item:hover, .events__item:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.events__item::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid rgba(220, 86, 197, 0.3);
  border-radius: 50px 0px;
  width: 153px;
  height: 143px;
}

@media screen and (max-width: 768px) {
  .events__item::after {
    width: 109px;
    height: 101px;
  }
}

.music__thumb {
  margin-bottom: 5px;
}

.music__img-poster {
  -o-object-fit: cover;
     object-fit: cover;
  width: 127px;
  height: 161px;
  border-radius: 50px 0px;
  -webkit-box-shadow: 0 -5px 10px #dc56c5, -23px 0 20px -23px rgba(220, 86, 197, 0.8), 0px 0 20px -23px rgba(220, 86, 197, 0.8), 0 0 40px rgba(220, 86, 197, 0.1) inset;
          box-shadow: 0 -5px 10px #dc56c5, -23px 0 20px -23px rgba(220, 86, 197, 0.8), 0px 0 20px -23px rgba(220, 86, 197, 0.8), 0 0 40px rgba(220, 86, 197, 0.1) inset;
}

.music__img-poster:hover, .music__img-poster:focus {
  -webkit-box-shadow: 0 -5px 10px #dc56c5, -23px 0 20px -23px rgba(220, 86, 197, 0.8), 34px 0 20px -10px rgba(220, 86, 197, 0.8), 0 0 40px rgba(220, 86, 197, 0.1) inset;
          box-shadow: 0 -5px 10px #dc56c5, -23px 0 20px -23px rgba(220, 86, 197, 0.8), 34px 0 20px -10px rgba(220, 86, 197, 0.8), 0 0 40px rgba(220, 86, 197, 0.1) inset;
}

@media (min-width: 768px) {
  .music__img-poster {
    width: 180px;
    height: 227px;
  }
}

.events__title {
  font-weight: 700;
  line-height: 1.21;
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--title-color);
}

@media (min-width: 768px) {
  .events__title {
    font-size: 16px;
    line-height: 1.25;
  }
}

.events__text {
  line-height: 1.21;
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--main-text-color);
}

@media (min-width: 768px) {
  .events__text {
    font-size: 16px;
    line-height: 1.25;
  }
}

.music__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.21;
  color: var(--main-text-color);
}

@media (min-width: 768px) {
  .music__link {
    font-size: 14px;
    line-height: 1.21;
  }
}

.material-icons {
  font-size: 14px;
  margin-right: 5px;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 13, 29, 0.6);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.modal {
  min-width: 272px;
  min-height: 915px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--modal-background-color);
  position: absolute;
  border-bottom-right-radius: 150px;
  border-top-left-radius: 150px;
}

@media (min-width: 768px) {
  .modal {
    width: 595px;
    height: 831px;
  }
}

@media (min-width: 1280px) {
  .modal {
    max-width: 930px;
    max-height: 1023px;
  }
}

.modal__close {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 33px;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--modal-background-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

@media (min-width: 1280px) {
  .modal__close {
    width: 42px;
    height: 40px;
    top: 30px;
    right: 30px;
  }
}

.modal__close-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  cursor: pointer;
  fill: var(--modal-accent-color);
}

@media (min-width: 1280px) {
  .modal__close-icon {
    width: 25px;
    height: 25px;
    top: 30px;
    left: 30px;
  }
}

.modal__close:hover,
.modal__close:focus {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.modal__circle {
  position: absolute;
  top: 75px;
  right: 84px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 102px;
  height: 102px;
  margin-bottom: 18px;
  border-radius: 50%;
  outline: 2px solid black;
}

@media (min-width: 768px) {
  .modal__circle {
    top: 28px;
    left: 263px;
    width: 70px;
    height: 70px;
    margin-bottom: 43px;
  }
}

@media (min-width: 1280px) {
  .modal__circle {
    top: 62px;
    width: 132px;
    height: 132px;
    margin-bottom: 41px;
  }
}

.modal__grid {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 195px;
  left: 12px;
  right: 17px;
}

@media (min-width: 768px) {
  .modal__grid {
    top: 141px;
    left: 50px;
  }
}

@media (min-width: 1280px) {
  .modal__grid {
    top: 235px;
    left: 30px;
  }
}

.modal__poster {
  display: none;
}

@media (min-width: 768px) {
  .modal__poster {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 233px;
    height: 416px;
    outline: 2px solid black;
  }
}

@media (min-width: 1280px) {
  .modal__poster {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 360px;
    outline: 2px solid black;
  }
}

.modal__info {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .modal__info {
    padding-left: 30px;
  }
}

@media (min-width: 1280px) {
  .modal__info {
    padding-left: 60px;
  }
}

.modal__item-title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-color);
}

@media (min-width: 768px) {
  .modal__item-title {
    text-align: start;
    font-size: 24px;
    line-height: 1.21;
  }
}

@media (min-width: 1280px) {
  .modal__item-title {
    font-size: 24px;
    line-height: 1.21;
  }
}

.modal-text {
  font-style: 400;
  font-size: 16px;
  line-height: 1.22;
  text-align: center;
}

@media (min-width: 768px) {
  .modal-text {
    text-align: start;
  }
}

.modal__date,
.modal__city {
  margin-bottom: 3px;
}

.modal__price {
  margin-bottom: 10px;
}

.modal__tickets {
  padding-left: 13px;
}

@media (min-width: 768px) {
  .modal__tickets {
    padding-left: 0;
  }
}

.vip {
  padding-left: 15px;
}

@media (min-width: 768px) {
  .vip {
    padding-left: 0;
  }
}

.item-vip {
  padding-right: 15px;
}

.modal__tickets-icon {
  margin-right: 13px;
}

.modal__tickets-item {
  margin-bottom: 20px;
}

.modal__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__buy {
  padding: 0;
  width: 145px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: var(--modal-accent-color);
  cursor: pointer;
}

.modal__buy:hover,
.modal__buy:focus {
  background-color: var(--title-color);
  border: 2px solid var(--title-color);
}

.modal__btn-title {
  font-style: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-text-color);
}

.modal__buy:hover .modal__btn-title,
.modal__buy:focus .modal__btn-title {
  color: var(--main-text-color);
}

.modal__grid {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__item-title {
  margin-bottom: 5px;
}

.modal__item {
  margin-bottom: 10px;
}

.modal__more {
  padding: 0;
  width: 230px;
  height: 40px;
  position: absolute;
  bottom: 104px;
  right: 23px;
  background-color: var(--modal-background-color);
  border-color: var(--modal-accent-color);
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .modal__more {
    width: 255px;
    height: 40px;
    bottom: 66px;
    right: 185px;
    border-color: var(--title-color);
  }
}

@media (min-width: 1280px) {
  .modal__more {
    bottom: 62px;
    border-color: var(--modal-accent-color);
  }
}

.modal__more-title {
  font-style: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--modal-accent-color);
}

.modal__more:focus,
.modal__more:hover {
  background-color: var(--title-color);
  border: none;
}

.modal__more:hover .modal__more-title,
.modal__more:focus .modal__more-title {
  color: var(--modal-background-color);
  border: none;
}

.btn-to-top img {
  position: fixed;
  bottom: 150px;
  right: 75px;
  padding: 5px;
  border-radius: 50px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.btn-to-top img:hover {
  background: rgba(169, 212, 218, 0.5);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0 -55px 12px black, 0 16px 20px #dc56c5;
          box-shadow: 0 -55px 12px black, 0 16px 20px #dc56c5;
}

.scroll-img:active {
  color: brown;
}

.is-hidden {
  display: none;
}

.heart {
  color: #df0404;
}

.footer {
  width: 100%;
}

.footer-container {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-top: 30px;
    padding-bottom: 28px;
  }
}

.footer-text {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-text-color);
  margin: 0;
}

@media (min-width: 768px) {
  .footer-text {
    margin-right: 5px;
  }
}

.footer-text-second {
  margin: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-text-color);
}

.body {
  background-color: #0e0e0e;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 767px) {
  .body {
    background-position: left 0 top 364px;
    background-image: url(../images/mobile/bg_body-mobile.png);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .body .body {
    background-image: url(../images/mobile/bg_body-mobile@2x.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .body {
    background-position: left 0 top 364px, center;
    background-image: url(../images/tablet/bg_body-tablet.png), url(../images/tablet/decor-tablet.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .body .body {
    background-image: url(../images/tablet/bg_body-tablet@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .body {
    background-position: center, center;
    background-size: cover, 1280px;
    background-image: url(../images/desktop/bg_body-desktop.png), url(../images/desktop/decor-desktop.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .body .body {
    background-image: url(../images/desktop/bg_body-desktop@2x.png);
  }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #1a0216a6;
  background-image: linear-gradient(136.07deg, rgba(196, 196, 196, 0.03) 10.75%, rgba(196, 196, 196, 0) 92.33%);
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 1s infinite linear;
          animation: preloader-rotate 1s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #f407fc;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  -webkit-animation: preloader-bounce 2s infinite ease-in-out;
          animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.loaded_hiding .preloader {
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
/*# sourceMappingURL=main.css.map */