{{#each this}}
<li class="events__item">
    <div class="music__thumb">
        <picture class="music__img">
            <source srcset="" />
            <source srcset="" />
            <img class="music__img-poster img" src="{{images.6.url}}" data-source="" alt="">
        </picture>
    </div>
    <div class="music__info">
        <h3 class="events__title title">{{name}}</h3>
        <p class="events__text text">{{dates.start.localDate}}</p>
        <a href="#" class="music__link">
            <span class="material-icons">room</span>
            {{locale}}
        </a>
    </div>
</li>
{{/each}}