@mixin for-size($range) {
    $phone: 320px;
    $tablet: 768px;
    $desktop: 1280px;
  
    @if $range == phone-only {
      @media (max-width:#{$tablet- 1}) {
        @content;
      }
    } @else if $range == tablet-up {
      @media (min-width: $tablet) {
        @content;
      }
    } @else if $range == tablet-only {
      @media (max-width: #{$desktop - 1}) {
        @content;
      }
    } @else if $range == desktop-up {
      @media (min-width: $desktop) {
        @content;
      }
    }
}
  
@mixin transition($type) {
    transition-property: $type;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  }
  