@mixin for-size($range) {
  $phone: 320px;
  $tablet: 768px;
  $desktop: 1280px;

  @if $range == phone-only {
    @media (max-width:#{$tablet- 1}) {
      @content;
    }
  } @else if $range == tablet-up {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $range == tablet-only {
    @media (max-width: #{$desktop - 1}) {
      @content;
    }
  } @else if $range == desktop-up {
    @media (min-width: $desktop) {
      @content;
    }
  }
}

@mixin transition($type) {
  transition-property: $type;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
  --main-text-color: #ffffff;
  --second-text-color: #939393;
  --title-color: #dc56c5;
  // --accent-color: для ховера-фокуса;
  --modal-background-color: #fff2fd;
  --modal-text-color: #0e0e0e;
  --modal-accent-color: #4c00fe;
  --font: 'Montserrat', sans-serif;
}
