:root {
  --main-text-color: #ffffff;
  --second-text-color: #939393;
  --title-color: #dc56c5;
  // --accent-color: для ховера-фокуса;
  --modal-background-color: #fff2fd;
  --modal-text-color: #0e0e0e;
  --modal-accent-color: #4c00fe;
  --modal-overlay: rgba(32, 13, 29, 0.6);
  --font: 'Montserrat', sans-serif;
}
