<section class="background">
  <div class="background__container">
    <header class="header">
      <div class="logo__background"></div>
      <a href="./index.html" class="logo">
        <img src="./images/logo/logo.svg" alt="logo" />
      </a>
    </header>
    <div class="toolbar">
      <div class="theme-switch">
        <!-- <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
          <use href="../images/icons/icons.svg#sun"></use>
        </svg> -->

        <div class="theme-switch__control">
          <input
            class="theme-switch__toggle js-switch-input"
            type="checkbox"
            name="theme"
            id="theme-switch-toggle"
            aria-label="Переключить между тёмной и светлой темой"
          />
          <label
            aria-hidden="true"
            class="theme-switch__track"
            for="theme-switch-toggle"
          >
          </label>
          <div aria-hidden="true" class="theme-switch__marker"></div>
        </div>

        <!-- <svg class="theme-switch__icon" aria-label="Иконка луны">
          <use href="./images/icons/icons.svg#moon"></use>
        </svg> -->
      </div>
    </div>

    <div class="background__header">
      <picture>
        <source
          srcset="
            ./images/desktop/hero-desktop.jpg    1x,
            ./images/desktop/hero-desktop@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpg"
        />
        <source
          srcset="
            ./images/tablet/hero-tablet.jpg    1x,
            ./images/tablet/hero-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpg"
        />
        <source
          srcset="
            ./images/mobile/hero-mobile.jpg    1x,
            ./images/mobile/hero-mobile@2x.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpg"
        />
        <img
          class="background__header"
          src="./images/desktop/hero-desktop.jpg"
          alt="background"
        />
      </picture>
    </div>
  </div>
</section>
