<section class="searching-form">
  <div class="header__title container">
    <h1 class="header__title--decor animate__animated animate__backInDown">
      FIND BEST EVENTS AROUND THE WORLD
    </h1>
  </div>
  <div class="container form-wrapper">
    <form class="form">
      <!-- <div class="form-wrapper"> -->
      <div class="input-wrapper">
        <input
          class="form__input link-animation"
          type="text"
          name=""
          id="name-input"
          placeholder="Start searching"
        />

          <button class="search-btn" type="submit" id="searchBtn">
            <svg class="form__icon" width="12px" height="12px">
              <use
                class="search__icon"
                href="./images/icons/icons.svg#icon-search"
                opacity="1"
              ></use>
            </svg>
            <svg class="form__icon icon-close" width="12px" height="12px">
              <use
                class="clear-search__icon"
                href="./images/icons/icons.svg#icon-close"
                opacity="0"
              ></use>
            </svg>
          </button>
        
      </div>
    </form>
    <div class="input-wrapper select-box">
      <select
        class="form__input select link-animation"
        id="country"
        name="countries"
      >
        <option class="disabled-select-item" selected disabled hidden value="">
          Choose country
        </option>
        <option class="input-item" value="">All countries</option>
        <button class="search-btn " type="button" id="countryBtn">
          <svg class="form__icon country-icon" width="12px" height="12px">
            <use href="./images/icons/icons.svg#icon-polygon"></use>
          </svg>
        </button>
      </select>
    </div>
  </div>
  <ul class="events__list"></ul>
</section>
