<section class="searching-form">
  <div class="header__title container">
    <h1 class="header__title--decor animate__animated animate__backInDown">
      FIND BEST EVENTS AROUND THE WORLD
    </h1>
  </div>
  <div class="container">
    <form class="form">
      <div class="form-wrapper">
        <div class="input-wrapper">
          <input
            class="form__input"
            type="text"
            name=""
            id="name-input"
            placeholder="Start searching"
          />
          <a class="search-btn"  id="searchBtn">
            <svg class="form__icon" width="12px" height="12px">
              <use
                class="search__icon"
                href="./images/icons/icons.svg#icon-search"
                opacity="1"
              ></use>
            </svg>
            <svg class="form__icon icon-close" width="12px" height="12px">
              <use
                class="clear-search__icon"
                href="./images/icons/icons.svg#icon-close"
                opacity="0"
              ></use>
            </svg>
          </a>
        </div>


        <div class="input-wrapper select">
          
          <!-- <select class="form__input"  id="country" name="countries" >
            <option selected disabled hidden>Choose country</option>
            <button class="search-btn" type="button" id="countryBtn">
              <svg class="form__icon" width="12px" height="12px">
                <use href="./images/icons/icons.svg#icon-polygon"></use>
              </svg>
            </button>
            
          </select> -->
           <select class="form__input"  id="country" name="countries" > 
              <option class="input-country" selected disabled hidden>Choose country</option>
              <option class="input-country" value="AT">Austria</option>
              <option class="input-country" value="AU">Australia</option>
              <option class="input-country" value="BE">Belgium</option>
              <option class="input-country" value="CA">Canada</option>
              <option class="input-country" value="CH">Switzerland</option>
              <option class="input-country" value="CZ">Czech Republic</option>
              <option class="input-country" value="DE">Germany</option>
              <option class="input-country" value="DK">Denmark</option>
              <option class="input-country" value="ES">Spain</option>
              <option class="input-country" value="FI">Finland</option>
              <option class="input-country" value="FR">France</option>
              <option class="input-country" value="GB">Great Britain</option>
              <option class="input-country" value="IE">Ireland</option>
              <option class="input-country" value="IT">Italy</option>
              <option class="input-country" value="MX">Mexico</option>
              <option class="input-country" value="NL">Netherlands</option>
              <option class="input-country" value="NO">Norway</option>
              <option class="input-country" value="NZ">New Zealand</option>
              <option class="input-country" value="PL">Poland</option>
              <option class="input-country" value="SE">Sweden</option>
              <option class="input-country" value="US">United States Of America</option>
              
              <button class="search-btn" type="button" id="countryBtn">
                <svg class="form__icon" width="12px" height="12px">
                  <use href="./images/icons/icons.svg#icon-polygon"></use>
                </svg>
              </button>
          </select>


        <div class="input-wrapper">
          <!-- <select class="form__input" id="country" name="countries"></select> -->
          <!-- <button class="search-btn" type="button" id="countryBtn">
            <svg class="form__icon" width="12px" height="12px">
              <use href="./images/icons/icons.svg#icon-polygon"></use>
            </svg>
          </button>
          </div>

      
         <ul class="list-country">
         <li class="item-country"></li>
          </ul> -->
        </div>
      </div>
    </form>
    <ul class="events__list"></ul>
  </div>
</section>
