<section class="searching-form">
  <div class="container">
    <form class="form" autocomplete="off">
      <div class="form-wrapper">
        <div class="input-wrapper">
          <input
            class="form__input"
            type="text"
            name=""
            id=""
            placeholder="Start searching"
          />
          <svg class="form__icon" width="12px" height="12px">
            <use href=""></use>
          </svg>
        </div>
        <div class="input-wrapper">
          <input
            class="form__input"
            type="text"
            name="country"
            id="country"
            placeholder="Choose country"
          />
          <svg class="form__icon" width="12px" height="12px">
            <use href=""></use>
          </svg>
        </div>
      </div>
    </form>
  </div>
</section>
