<form class="modal__backdrop is-hidden">
  <div class="modal">
    <svg class="modal__close-icon" width="17" height="17">
      <use href="./images/icons/icons.svg#icon-close"></use>
    </svg>
    <button
      class="modal__close"
      type="button"
      data-action="close-modal__backdrop"
    ></button>

    <img class="modal__circle" src="" alt="icon of artist" />

    <div class="modal__grid">
      <img class="modal__poster" src="" alt="poster" />
      <div class="modal__list">
        <ul class="modal__info">
          <li class="modal__item">
            <h3 class="modal__item-title">INFO</h3>
            <p class="modal__api-info modal-text" id="modal-info">
              Atlas Weekend is the largest music festival in Ukraine.More than
              200 artists will create a proper music festival atmosphere on 10
              stages
            </p>
          </li>
          <li class="modal__item">
            <h3 class="modal__item-title">WHEN</h3>
            <ul class="modal__when modal-text">
              <li class="modal__date" id="modal-date">2021-06-09</li>
              <li class="modal__time" id="modal-time">20:00 (Kyiv/Ukraine)</li>
            </ul>
          </li>
          <li class="modal__item">
            <h3 class="modal__item-title" id="modal-where">WHERE</h3>
            <ul class="modal__where modal-text">
              <li class="modal__city" id="modal-city">Kyiv, Ukraine</li>
              <li class="modal__palace" id="modal-palace">VDNH</li>
            </ul>
          </li>
          <li class="modal__item">
            <h3 class="modal__item-title">WHO</h3>
            <p class="modal__autor modal-text" id="modal-author">
              The Black Eyed Peas
            </p>
          </li>
          <li class="modal__item modal-text">
            <h3 class="modal__item-title">PRICES</h3>

            <ul class="modal__tickets">
              <li class="modal__tickets-item standart">
                <div class="modal__icon">
                  <svg class="modal__tickets-icon" width="24" height="16">
                    <use href="./images/icons/icons.svg#icon-barcode"></use>
                  </svg>
                  <p class="modal__price" id="modal-prices">
                    Standart 300-500 UAH
                  </p>
                </div>

                <a
                  class="modal__buy"
                  target="_blank"
                  rel="noreferrer noopener"
                  id="buy-tickets-btn-standart"
                  href="/"
                >
                  <p class="modal__btn-title">BUY TICKETS</p>
                </a>
              </li>
              <li class="modal__tickets-item vip">
                <div class="modal__icon">
                  <svg class="modal__tickets-icon" width="24" height="16">
                    <use href="./images/icons/icons.svg#icon-barcode"></use>
                  </svg>
                  <p class="modal__price">VIP: look on the website</p>
                </div>

                <a
                  class="modal__buy"
                  target="_blank"
                  rel="noreferrer noopener"
                  id="buy-tickets-btn-vip"
                >
                  <p class="modal__btn-title">BUY TICKETS</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="modal__container animation-open">
      <a class="modal__more" 
      target="_blank"
      rel="noreferrer noopener"
      id="modal__more"
      href="/">
        <p class="modal__more-title"> MORE FROM THIS AUTHOR </p>
      </a>
    </div>
  </div>
</form>
