<section class="hero">
    <div class="container">
        <h2 class="visually-hidden">Musical-Events</h2>
        <ul class="hero__list--cards" id="js-hero__list">
            <!-- <li class="hero__item">
                <div class="hero__general">

                    <div class="music__thumb">
                        <picture class="music__img">
                            <img 
                            class="music__img-poster img"
                            src="./images/img-1-450.jpg"
                            data-source=""
                            alt="">
                        </picture>
                    </div>
                    <div class="musical__info">
                        <h3 class="hero__title title">Eurovision 2021 finals!</h3>
                        <p class="hero__text text">2021-05-13</p>
                        <a href="#" class="musical__link link">
                            
                            <span class="material-icons">room</span>
                            Palace of Ukraine
                            
                        </a>
                    </div>
                </div>
                </li>
                <li class="hero__item">
                    <div class="hero__general">
    
                        <div class="music__thumb">
                            <picture class="music__img">
                                <img 
                                class="music__img-poster img"
                                src="./images/img-1-450.jpg"
                                data-source=""
                                alt="">
                            </picture>
                        </div>
                        <div class="musical__info">
                            <h3 class="hero__title title">Eurovision 2021 finals!</h3>
                            <p class="hero__text text">2021-05-13</p>
                            <a href="#" class="musical__link link">
                                
                                <span class="material-icons">room</span>
                                Palace of Ukraine
                                
                            </a>
                        </div>
                    </div>
                    </li>
                    <li class="hero__item">
                        <div class="hero__general">
        
                            <div class="music__thumb">
                                <picture class="music__img">
                                    <img 
                                    class="music__img-poster img"
                                    src="./images/img-1-450.jpg"
                                    data-source=""
                                    alt="">
                                </picture>
                            </div>
                            <div class="musical__info">
                                <h3 class="hero__title title">Eurovision 2021 finals!</h3>
                                <p class="hero__text text">2021-05-13</p>
                                <a href="#" class="musical__link link">
                                    
                                    <span class="material-icons">room</span>
                                    Palace of Ukraine
                                    
                                </a>
                            </div>
                        </div>
                        </li>
                        <li class="hero__item">
                            <div class="hero__general">
            
                                <div class="music__thumb">
                                    <picture class="music__img">
                                        <img 
                                        class="music__img-poster img"
                                        src="./images/img-1-450.jpg"
                                        data-source=""
                                        alt="">
                                    </picture>
                                </div>
                                <div class="musical__info">
                                    <h3 class="hero__title title">Eurovision 2021 finals!</h3>
                                    <p class="hero__text text">2021-05-13</p>
                                    <a href="#" class="musical__link link">
                                        
                                        <span class="material-icons">room</span>
                                        Palace of Ukraine
                                        
                                    </a>
                                </div>
                            </div>
                            </li> -->
        </ul>
    </div>
</section>