<header class="header">
        <div class="logo__container">
            <picture class="logo">
              <source srcset="./images/logo/logo.png 1x, ./images/logo/logo@2x.png 2x"
              media="(min-width: 1280px)"
              type="image/png"/>
              <source srcset=""/>
              <img src="./images/logo/logo.png" alt=""/>
            </picture>
        </div>
        <div class="container">
        <div class="header__title">
            <h1 class="header__title--decor">
            FIND BEST EVENTS <br>
            AROUND THE WORLD
            </h1>
         </div>
    
    </div>
    </header>