<section class="modal__team">
  <div class="container">
    <div class="team__backdrop hidden link__animation">
      <div class="team__modal">
        <div class="team__box--top">
          <div class="three">
            <h2>GreenPeopleJS</h2>
          </div>
          <img src="" alt="" />
        </div>
        <ul class="team__list">
          <li class="team__item">
            <div class="team__thumb">
              <img
                class="team__img img"
                src="./images/team/grebenjuk-mukola.jpg"
                alt="team-photo"
              />
              <div class="team__overlay">
                <div class="team__info">

                  <p class="team__text--name">Grebenjuk Mukola</p>
                  <p class="team__text--profesion">Team Lead</p>
                  <a href="https://github.com/Nikolayhous" class="team__link--icon" target="blank">

                    <svg class="team__icon" width="25px" height="25px">
                      <use
                        class="instagram"
                        href="./images/icons/icons.svg#icon-github"
                      ></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="team__item">
            <div class="team__thumb">
              <img
                class="team__img img"
                src="./images/team/priyom-marta.jpg"
                alt="team-photo"
              />
              <div class="team__overlay">
                <div class="team__info">
                  <p class="team__text--name">Pryiom Marta</p>
                  <p class="team__text--profesion">Scrum Master</p>
                  <a href="https://github.com/marta-pryiom" class="team__link--icon" target="blank">

                    <svg class="team__icon" width="25px" height="25px">
                      <use
                        class="instagram"
                        href="./images/icons/icons.svg#icon-github"
                      ></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="team__item">
            <div class="team__thumb">
              <img
                class="team__img img"
                src="./images/team/harchenko-jlya.jpg"
                alt="team-photo"
              />
              <div class="team__overlay">
                <div class="team__info">

                  <p class="team__text--name">Harchenko Julia</p>
                  <p class="team__text--profesion">Developer</p>
                  <a href="https://github.com/van-jule" class="team__link--icon" target="blank">
                    <svg class="team__icon" width="25px" height="25px">
                      <use
                        class="instagram"
                        href="./images/icons/icons.svg#icon-github"
                      ></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="team__item">
            <div class="team__thumb">
              <img
                class="team__img img"
                src="./images/team/bacman-evgen.jpg"
                alt="team-photo"
              />
              <div class="team__overlay">
                <div class="team__info">

                  <p class="team__text--name">Batsman Evgen</p>
                  <p class="team__text--profesion">Developer</p>
                  <a href="https://github.com/electro-nic" class="team__link--icon" target="blank">

                    <svg class="team__icon" width="25px" height="25px">
                      <use
                        class="instagram"
                        href="./images/icons/icons.svg#icon-github"
                      ></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="team__item">
            <div class="team__thumb">
              <img
                class="team__img img"
                src="./images/team/kovalenko-anna.jpg"
                alt="team-photo"
              />
              <div class="team__overlay">
                <div class="team__info">

                  <p class="team__text--name">Yushchenko Jane</p>
                  <p class="team__text--profesion">Developer</p>
                  <a href="https://github.com/Kelenella " class="team__link--icon" target="blank">
                    <svg class="team__icon" width="25px" height="25px">
                      <use
                        class="instagram"
                        href="./images/icons/icons.svg#icon-github"
                      ></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="team__item">
            <div class="team__thumb">
              <img
                class="team__img img"
                src="./images/team/kolodeyckuk-evgenia.jpg"
                alt="team-photo"
              />
              <div class="team__overlay">
                <div class="team__info">

                  <p class="team__text--name">Kolodeichuk Eugenia</p>
                  <p class="team__text--profesion">Developer</p>
                  <a href="https://github.com/EugeniaKolodeichuk" class="team__link--icon" target="blank">
                    <svg class="team__icon" width="25px" height="25px">
                      <use
                        class="instagram"
                        href="./images/icons/icons.svg#icon-github"
                      ></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="team__item">
            <div class="team__thumb">
              <img
                class="team__img img"
                src="./images/team/gricenko-igor.jpg"
                alt="team-photo"
              />
              <div class="team__overlay">
                <div class="team__info">

                  <p class="team__text--name">Hrytsenko Ihor</p>
                  <p class="team__text--profesion">Developer</p>
                  <a href="https://github.com/IhorHrytsenko" class="team__link--icon" target="blank">
                    <svg class="team__icon" width="25px" height="25px">
                      <use
                        class="instagram"
                        href="./images/icons/icons.svg#icon-github"
                      ></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="team__item">
            <div class="team__thumb">
              <img
                class="team__img img"
                src="./images/team/kovalenko.jpg"
                alt="team-photo"
              />
              <div class="team__overlay">
                <div class="team__info">
                  <p class="team__text--name">Kovalenko Ganna</p>
                  <p class="team__text--profesion">Developer</p>
                  <a href="https://github.com/Kovganna" class="team__link--icon" target="blank">
                    <svg class="team__icon" width="25px" height="25px">
                      <use
                        class="instagram"
                        href="./images/icons/icons.svg#icon-github"
                      ></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="team__item">
            <div class="team__thumb">
              <img
                class="team__img img"
                src="./images/team/shulgan-irina.jpg"
                alt="team-photo"
              />
              <div class="team__overlay">
                <div class="team__info">
                  <p class="team__text--name">Choulgan Irina</p>
                  <p class="team__text--profesion">Developer</p>
                  <a href="https://github.com/IrinaChoulgan" class="team__link--icon" target="blank">
                    <svg class="team__icon" width="25px" height="25px">
                      <use
                        class="instagram"
                        href="./images/icons/icons.svg#icon-github"
                      ></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="team__item">
            <div class="team__thumb">
              <img
                class="team__img img"
                src="./images/team/chexovskiy-maksim.jpg"
                alt="team-photo"
              />
              <div class="team__overlay">
                <div class="team__info">
                  <p class="team__text--name">Maksim Chekhovskiy</p>
                  <p class="team__text--profesion">Developer</p>
                  <a href="https://github.com/veles87" class="team__link--icon" target="blank">
                    <svg class="team__icon" width="25px" height="25px">
                      <use
                        class="instagram"
                        href="./images/icons/icons.svg#icon-github"
                      ></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <button class="team__btn--close" id="js-close__btn">Close</button>
      </div>
    </div>
  </div>
</section>
