/* .background__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
} */

.background__image--header,
.background__header {
  @media screen and (max-width: 1279.98px) {
    max-height: 364px;
    background-image: url(../images/tablet/overlay-tablet.png);
  }

  @media screen and (min-width: 1280px) {

    max-height: 446px;
    background-image: url(../images/desktop/overlay-desktop.png);

  }  
}

.background__header {
  position: absolute;
  z-index: -10;
  left: 0;
  top: 0;
  width: 100%;
}

.background__body {
  position: absolute;
  z-index: -20;
  left: 0;
  top: 300px;
  max-width: 100%;
  background-repeat: repeat;
}