body {
  background-color: #0e0e0e;
  background-image: url(../images/background/bg_body.png);
}


.background__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  /* margin-top: -40px; */
  padding-top: 0px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1600px;
  }

}

.background__image--header,
.background__header {
  @media screen and (max-width: 1279.98px) {
    max-height: 364px;
    background-image: url(../images/tablet/overlay-tablet.png);
  }

  @media screen and (min-width: 1280px) {
    max-height: 446px;
    background-image: url(../images/desktop/overlay-desktop.png);
  }
}

.background__header {
  position: absolute;
  z-index: -10;
  left: 0;
  top: 0;
  width: 100%;
}

.background__body {
  position: absolute;
  z-index: -20;
  left: 0;
  top: 300px;
  max-width: 100%;
  background-repeat: repeat;
}