body {
  background-color: #0e0e0e;
  background-image: url(../images/background/bg_body.png);
}


.background__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  padding-top: 0px;

  @include for-size(tablet-up) {
    max-width: 768px;
  }

  @include for-size(desktop-up) {
    max-width: 1600px;
  }

}

.background__header {
  position: absolute;
  z-index: -10;
  left: 0;
  top: 0;
  width: 100%;
  max-height: 364px;

  @include for-size(desktop-up) {
    max-height: 446px;
  }
}