body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #0e0e0e;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (max-width: 767px) {
    background-position: left 0 top 364px;

   background-image: url(../images/mobile/bg_body-mobile.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .body {
        background-image: url(../images/mobile/bg_body-mobile@2x.png);
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-position: left 0 top 364px, center;

    background-image: url(../images/tablet/bg_body-tablet.png),
      url(../images/tablet/decor-tablet.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .body {
        background-image: url(../images/tablet/bg_body-tablet@2x.png);
      }
    }
  }

  @media screen and(min-width: 1280px) {
    background-position: center, center;
    background-size: cover, 1280px;
    // background-position: center, center top 100px;
    // background-size: cover, 1280px;
    background-image: url(../images/desktop/bg_body-desktop.png),
      url(../images/desktop/decor-desktop.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .body {
        background-image: url(../images/desktop/bg_body-desktop@2x.png);
      }
    }
  }
}

.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @include for-size(phone-only) {
    max-width: 480px;
  }

  @include for-size(tablet-up) {
    max-width: 768px;
  }

  @include for-size(desktop-up) {
    max-width: 1280px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
