body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @include for-size(tablet-up) {
    max-width: 768px;
  }

  @include for-size(desktop-up) {
    max-width: 1280px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link-animation {
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

//Стили для выпадашки pnotify. Их не вкоем случае не трогаем

.pnotify {
  position: absolute !important;
  top: 300px !important;
  width: 100% !important;
  right: 0 !important;

  @include for-size(tablet-up) {
    top: 260px !important;
  }

  @include for-size(desktop-up) {
    top: 330px !important;
  }
}

.pnotify-container {
  display: flex !important;
  justify-content: center !important;
}

[data-pnotify] .brighttheme-icon-info:after {
  width: 0px !important;
}

[data-pnotify] .brighttheme-text {
  text-align: center !important;
}

.pnotify-pre-line {
  color: #fff;
  font-size: 16px;
  line-height: 1.21;

  @include for-size(phone-plus-only) {
    max-width: 420px;
  }
}

.pnotify-text {
  display: flex !important;

  &::before {
    content: '';
    width: 35px;
    background-image: url(../images/icons/check.svg);
    background-repeat: no-repeat;
  }
}

[data-pnotify] .brighttheme-icon-info:after {
  display: none !important;
}

[data-pnotify] .brighttheme-container {
  padding: 10px 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: rgba(128, 231, 119, 0.801) !important;
}

[data-pnotify] .brighttheme-error {
  background-image: none !important;
}

[data-pnotify] .brighttheme-icon-error:after {
  display: none !important;
}

[data-pnotify] .brighttheme-icon-closer:after {
  display: none !important;
}

[data-pnotify] .brighttheme-icon-sticker.brighttheme-icon-stuck:after {
  display: none !important;
}
[data-pnotify] .brighttheme-closer,
[data-pnotify] .brighttheme-icon,
[data-pnotify] .brighttheme-sticker {
  display: block !important;
}

[data-pnotify].pnotify-with-icon .brighttheme-content {
  margin: 0 !important;
}
