body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  // background-color: black;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @include for-size(phone-only ) {
    max-width: 480px;
  }

  @include for-size(tablet-up) {
    max-width: 768px;
  }

  @include for-size(desktop-up) {
    max-width: 1280px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
