.visually-hidden {
  position: absolute;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
}

.events__list--cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -15px;

  @include for-size(tablet-up) {
    margin-top: -45px;
    margin-left: -27px;
  }

  @include for-size(desktop-up) {
    margin-top: -50px;
    margin-left: -70px;
  }
}

.events__item {
  position: relative;
  text-align: center;
  margin-top: 30px;
  margin-left: 15px;
  flex-basis: calc((50% - 15px));
  cursor: pointer;

  animation: zoom 1.5s 1;
  animation-fill-mode: forwards;
  height: 100%;

  @include for-size(tablet-up) {
    margin-top: 45px;
    margin-left: 27px;
    flex-basis: calc((100% - 3 * 45px) / 3);
  }

  @include for-size(desktop-up) {
    margin-top: 50px;
    margin-left: 70px;
    flex-basis: calc((25% - 70px));
  }
}

.event__general:hover,
.event__general:focus {
  transform: scale(1.05);
  box-shadow: 0 -5px 10px rgba(220, 86, 197, 1),
    -23px 0 20px -23px rgba(220, 86, 197, 0.8),
    10px 0 20px -10px rgba(220, 86, 197, 0.8),
    0 0 40px rgba(220, 86, 197, 0.1) inset;
}

.event__general::after {
  content: '';
  position: absolute;
  border: 1px solid rgba(220, 86, 197, 0.3);
  border-radius: 50px 0;
  width: 109px;
  height: 101px;
  right: -10px;
  top: -20px;

  @include for-size(tablet-up) {
    width: 153px;
    height: 143px;
    right: -5px;
  }

  @include for-size(desktop-up) {
    right: 20px;
  }
}

.music__thumb {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.music__img-poster {
  object-fit: cover;
  width: 127px;
  height: 161px;
  border-radius: 50px 0px;
  box-shadow: 0 -5px 10px rgba(220, 86, 197, 1),
    0px 0 20px -35px rgba(220, 86, 197, 0.8),
    0px 0 20px -23px rgba(220, 86, 197, 0.8),
    0 0 40px rgba(220, 86, 197, 0.1) inset;

  @include for-size(tablet-up) {
    width: 180px;
    height: 227px;
  }

  // &:hover,
  // &:focus {
  //   transform: scale(1.05);
  //   box-shadow: 0 -5px 10px rgba(220, 86, 197, 1),
  //     -23px 0 20px -23px rgba(220, 86, 197, 0.8),
  //     25px 0 20px -10px rgba(220, 86, 197, 0.8),
  //     0 0 40px rgba(220, 86, 197, 0.1) inset;
  // }
}

.events__title {
  font-weight: 700;
  line-height: 1.21;
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--title-color);

  @include for-size(tablet-up) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.events__text {
  line-height: 1.21;
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--main-text-color);

  @include for-size(tablet-up) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.music__link {
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.21;
  color: var(--main-text-color);

  @include for-size(tablet-up) {
    font-size: 14px;
    line-height: 1.21;
  }
}

.material-icons {
  font-size: 14px;
  margin-right: 5px;
}
