.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 13, 29, 0.6);
  transition: 0.5s all ease;
}

.modal {
  width: 272px;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--modal-background-color);

  position: absolute;

  border-bottom-right-radius: 150px;
  border-top-left-radius: 150px;

  @include for-size(tablet-up) {
    width: 595px;
    // height: 831px;
  }

  @include for-size(desktop-up) {
    width: 930px;
    // height: 85%;
  }
}

// кнопка закрытия

.modal__close {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 17px;
  height: 17px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--modal-background-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  opacity: 0;
  cursor: pointer;

  @include for-size(desktop-up) {
    width: 25px;
    height: 25px;
    top: 30px;
    right: 30px;
  }
}

.modal__close-icon {
  position: absolute;
  top: 25px;
  right: 25px;
  fill: var(--modal-accent-color);
  transform: rotate(180deg);

  @include for-size(desktop-up) {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 30px;
    right: 30px;
  }
}

// .modal__close-icon:hover,
// .modal__close-icon:focus {
//   transform: rotate(180deg);
// }

// круглая иконка

.modal__circle {
  position: absolute;
  top: 75px;
  right: 84px;
  justify-content: center;
  width: 102px;
  height: 102px;
  margin-bottom: 18px;
  border-radius: 50%;
  object-fit: cover;
    // outline: 2px solid black;

  @include for-size(tablet-up) {
    top: 28px;
    left: 263px;
    width: 70px;
    height: 70px;
    margin-bottom: 43px;
  }

  @include for-size(desktop-up) {
    top: 62px;
    left: 399px;
    width: 132px;
    height: 132px;
    margin-bottom: 41px;
  }
}

// грид модалки

.modal__grid {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 195px;
  left: 12px;
  right: 17px;

  @include for-size(tablet-up) {
    top: 141px;
    left: 50px;
  }

  @include for-size(desktop-up) {
    top: 235px;
    left: 30px;
  }
}

// описание

.modal__poster {
  display: none;

  @include for-size(tablet-up) {
    display: flex;
    width: 233px;
    height: 360px;
    object-fit: cover;
    // outline: 2px solid black;
  }
  @include for-size(desktop-up) {
    display: flex;
    width: 360px;
     height: 431px;
    object-fit: cover;
    // outline: 2px solid black;
  }
}

.modal__info {
  margin: 0;
  padding: 0;

  @include for-size(tablet-up) {
    padding-left: 30px;
  }

  @include for-size(desktop-up) {
    padding-left: 60px;
  }
}

.modal__item-title {
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  color: var(--title-color);

  @include for-size(tablet-up) {
    text-align: start;
    font-size: 20px;
    line-height: 1.21;
  }

  // @include for-size(desktop-up) {
  //   font-size: 20px;
  //   line-height: 1.21;
  // }
}

.modal-text {
  font-style: 400;
  font-size: 10px;
  line-height: 1.22;
  text-align: center;

  @include for-size(tablet-up) {
    font-size: 12px;
  line-height: 1.22;
    text-align: start;
  }

  // @include for-size(desktop-up) {
  //   font-size: 16px;
  // }
}

.modal__date,
.modal__city {
  margin-bottom: 3px;
}

// раздел покупки билетов

.modal__price {
  margin-bottom: 10px;
}

.modal__tickets {
  padding-left: 13px;

  @include for-size(tablet-up) {
    padding-left: 0;
  }
}

// .vip {
//   padding-: 15px;

//   @include for-size(tablet-up) {
//     padding-left: 0;
//   }
// }

.item-vip {
  padding-right: 15px;
}

.modal__tickets-icon {
  width: 20px;
  height: 12px;
  margin-right: 13px;

  @include for-size(desctop-up){
    width: 24px;
    height: 17px;
  }
}

.modal__tickets-item:not(:last-child) {
  margin-bottom: 20px;
}

.modal__icon {
  display: flex;
}

.modal__buy {
  display: inline-block;
  padding: 8px 16px 6px 16px;
  border-radius: 5px;
  // border: 1px solid transparent;
  background-color: var(--modal-accent-color);
  cursor: pointer;

  // @include for-size(desktop-up){
  //   padding: 9px 19px 11px 19px;
  // }
}

.modal__buy:hover,
.modal__buy:focus {
  background-color: var(--title-color);
  border: 2px solid var(--title-color);
}

.modal__btn-title {
  display: inline;
  font-style: 500;
  font-size: 13px;
  line-height: 1.25;
  color: var(--main-text-color);

  // @include for-size(desktop-up){
  //   font-style: 500;
  //   font-size: 20px;
  //   line-height: 1.25;
  // }
}

.modal__buy:hover .modal__btn-title,
.modal__buy:focus .modal__btn-title {
  color: var(--main-text-color);
}

.modal__grid {
  position: absolute;
  display: flex;
}

.modal__item-title {
  margin-bottom: 5px;
}

.modal__item {
  margin-bottom: 10px;
}

// кнопка "MORE FROM THIS AUTHOR"

.modal__more {
  display: inline-flex;
  padding: 5px 3px;
  position: absolute;
  bottom: 70px;
  right: 50px;
  background-color: var(--modal-background-color);
  border: 1px solid var(--modal-accent-color);
  border-radius: 5px;
  cursor: pointer;

  @include for-size(tablet-up) {
    display: inline-flex;
    padding: 10px 15px 10px 16px;
    // width: 255px;
    // height: 40px;
    bottom: 66px;
    right: 185px;
    border-color: var(--title-color);
  }

  @include for-size(desktop-up) {
    bottom: 42px;
    right: 338px;
    border-color: var(--modal-accent-color);
  }
}

.modal__more-title {
  font-style: 500;
  font-size: 13px;
  line-height: 1.25;
  color: var(--modal-accent-color);

  @include for-size(tablet-up){
  font-size: 16px;
  }
}

.modal__more:focus,
.modal__more:hover {
  background-color: var(--title-color);
  border: none;
}

.modal__more:hover .modal__more-title,
.modal__more:focus .modal__more-title {
  color: var(--modal-background-color);
  border: none;
}
