.modal__backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(32, 13, 29, 0.6);
    backdrop-filter: blur(3px);
}

.modal {
  position: absolute;
  width: 272px;
  height: 612px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 150px 0;
  background-color: var(--modal-background-color);
  padding-bottom: 50px;
  animation: open 0.8s linear;
  transition-timing-function: cubic-bezier(.14,1.02,.91,.04);

  @include for-size(tablet-up) {
    width: 595px;
    border-radius: 250px 0;
  }

  @include for-size(desktop-up) {
    width: 730px;
    height: 700px;
    border-radius: 300px 0;
  }
}

@keyframes open {
  0% {
      transform: translateX(50%) translateY(50%);
      opacity: 0;
  }
  100% {
    opacity: 1;
  }
  }

// кнопка закрытия

.modal__close {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 17px;
  height: 17px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--modal-background-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  
  @include for-size(desktop-up) {
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    
  }
}

.modal__close-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  fill: var(--modal-accent-color);
    
  @include for-size(desktop-up) {
    width: 25px;
    height: 25px;
  }
}

.modal__close:hover,
.modal__close:focus {
  transform: rotate(180deg);
}

.modal__close-icon:hover,
.modal__close-icon:focus {
  fill: var(--title-color);
}

// круглая иконка

.modal__circle-container {
  width: 80px;
  height: 80px;
  display: block;
  margin: 45px auto 10px;

  @include for-size(desktop-up){
    width: 102px;
    height: 102px;
    margin: 52px auto 31px;
  }
  
}

.modal__circle {
    border-radius: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

// грид модалки

.modal__grid {
  margin: 0;
  padding: 0;
  padding-left: 12px;
  padding-right: 17px;
}

// описание

.modal__poster-container{
  @include for-size(tablet-up){
    margin-left: 30px;
    width: 240px;
    height: 300px;
  }

  @include for-size(desktop-up){
    width: 260px;
    height: 400px;
  }
}

.modal__poster {
  display: none;

  @include for-size(tablet-up) {
    display: flex;
    border-radius: 0;
    margin-bottom: 0;
    min-width: 233px;
    min-height: 100%;
    object-fit: cover;
  }
  
  @include for-size(desktop-up) {
     min-width: 260px;
     min-height: 100%;
    object-fit: cover;
    
  }
}

.modal__list{
    width: 243px;
    display: block;

    @include for-size(desktop-up) {
      width: 300px;
    }
}


.modal__info {
  margin: 0;
  padding: 0;
  text-align: center;

  @include for-size(tablet-up) {
    margin-left: 30px;
  }
}

.modal__item:not(:last-child){
  margin-bottom: 7px;
}

.modal__item-title {
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  color: var(--title-color);
  margin-bottom: 5px;

  @include for-size(tablet-up) {
    text-align: start;
    font-size: 17px;
    line-height: 1.21;
  }
}

.modal-text {
  font-style: 400;
  font-size: 10px;
  line-height: 1.22;
  text-align: center;

  @include for-size(tablet-up) {
    font-size: 12px;
    text-align: start;
  }

  @include for-size(desktop-up) {
    font-size: 14px;
  }
}

.modal__api-info {
  width: 243px;
  height: 35px;
  overflow-y: scroll;

  @include for-size(tablet-up){
    width: 265px;
    height: 45px;
  }
 
  @include for-size(desktop-up){
    width: 380px;
    height: 50px;
  }
}

.modal__where,
.modal__author {
  width: 243px;
  height: 15px;
  overflow-y: scroll;
 
  @include for-size(desktop-up){
    width: 380px;
    height: 18px;
  }
}

.modal__author::-webkit-scrollbar,
.modal__where::-webkit-scrollbar,
.modal__api-info::-webkit-scrollbar {
  width: 2px;
  background-color: var(--modal-background-color);
}

.modal__date,
.modal__city {
  margin-bottom: 3px;
}

// раздел покупки билетов

.modal__price {
  margin-bottom: 10px;
}

.modal__tickets {
  padding-left: 13px;

  @include for-size(tablet-up) {
    padding-left: 0;
  }
}

.item-vip {
  padding-right: 15px;
}

.modal__tickets-icon {
  width: 20px;
  height: 12px;
  margin-right: 13px;

  @include for-size(desktop-up){
    width: 24px;
    height: 17px;
  }
}

.modal__tickets-item:not(:last-child) {
  margin-bottom: 20px;
}

.modal__icon {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;

  @include for-size(tablet-up){
    justify-content: start;
  }
}

.modal__buy {
  display: flexbox;
  padding: 8px 16px 6px 16px;
  border-radius: 5px;
  background-color: var(--modal-accent-color);
  cursor: pointer;
}

.modal__buy:hover,
.modal__buy:focus {
  background-color: var(--title-color);
  border: 2px solid var(--title-color);
}

.modal__btn-title {
  display: inline;
  font-style: 500;
  font-size: 13px;
  line-height: 1.25;
  color: var(--main-text-color);
}

.modal__buy:hover .modal__btn-title,
.modal__buy:focus .modal__btn-title {
  color: var(--main-text-color);
}

.modal__grid {
  position: absolute;
  display: flex;
}

.modal__item {
  margin-bottom: 10px;
}

// кнопка "MORE FROM THIS AUTHOR"

.modal__container{
  position: absolute;
  display: inline-flex;
  bottom: 60px;
  right: 50px;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @include for-size(tablet-up) {
    bottom: 45px;
    right: 170px;
  }

  @include for-size(desktop-up) {
    bottom: 52px;
    right: 230px;
  }
}

.modal__more {
  padding: 5px 3px;
  background-color: var(--modal-background-color);
  border: 1px solid var(--modal-accent-color);
  border-radius: 5px;
  
  
  @include for-size(tablet-up) {
    padding: 10px 15px 10px 16px;
    border-color:var(--modal-accent-color);
  }

  @include for-size(desktop-up) {
    border-color: var(--modal-accent-color);
  }
}

.modal__more-title {
  font-style: 500;
  font-size: 13px;
  line-height: 1.25;
  color: var(--modal-accent-color);

  @include for-size(tablet-up){
  font-size: 14px;
  }

  @include for-size(desktop-up){
    font-weight: 600;
    font-size: 16px;
    }
}

.modal__more:focus,
.modal__more:hover {
  background-color: var(--title-color);
  border: none;
}

.modal__more:hover .modal__more-title,
.modal__more:focus .modal__more-title {
  color: var(--modal-background-color);
  border: none;
}
