
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
}

.hero__general {
    max-width: 128px;
}

.hero__list--cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -15px;

}

.hero__item {
    margin-top: 30px;
    margin-left: 15px;
    flex-basis: calc((100% - 2 * 15px) / 2);
}

.music__thumb {
    margin-bottom: 5px;
}

.music__img-poster {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.hero__title {
    font-weight: 700;
    line-height: 1.21;
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
}

.hero__text {
    line-height: 1.21;
    font-size: 14px;
    text-align: center;
}

.music__info {
}

.music__link {
    font-size: 12px;
}
