.logo {
  position: absolute;
  width: 106px;
  height: 90px;
  left: 3px;
  top: 3px;
  animation: logo 2s infinite;

  @include for-size(tablet-up) {
    width: 179px;
    height: 151px;
  }

  @include for-size(desktop-up) {
    width: 239px;
    height: 201px;
  }
}

.logo:hover {
  animation: none;
}

@keyframes logo {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.logo__background {
  position: relative;
  overflow: hidden;
  width: 213.97px;
  height: 180px;
  left: -107.49px;
  top: -90px;
  background-image: linear-gradient(136.07deg,
      rgba(196, 196, 196, 0.03) 10.75%,
      rgba(196, 196, 196, 0) 92.33%);
  backdrop-filter: blur(30px);
  border-radius: 90%;

  @include for-size(tablet-up) {
    width: 359px;
    height: 302px;
    left: -180px;
    top: -151px;
  }

  @include for-size(desktop-up) {
    width: 477px;
    height: 402px;
    left: -238px;
    top: -201px;
  }
}

.logo__overlay {
  overflow: hidden;
  position: absolute;
}