
.btn-to-top img {
    position: fixed;
    bottom: 150px;
    right: 75px;
    padding: 5px;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  
      
  
    &:hover {
      background: rgba(169, 212, 218, 0.5);
      transform: translateY(-4px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
    }
  }
  
  .scroll-img:active {
    color: brown;
  }
  
  .is-hidden {
    display: none;
  }
  